# AMIT ANAND. 220968430. DSE B

## WEEK1: EX1

Q1)

In [1]:
import pandas as pd

df = pd.DataFrame({"RollNo":[1,2,3,4,5,6,7,8,9,10],
                   "Name":['a','b','c','d','e','f','g','h','i','j'],
                   "Gender":['m','f','f','f','m','f','f','f','m','f'],
                   "Marks1":[40,80,65,18,21,66,43,88,90,100],
                   "Marks2":[52,34,99,76,55,12,88,43,71,42],
                   "Marks3":[89,75,32,72,20,38,45,64,53,18]
                  })

Q2)

In [2]:
df["Total"]=df["Marks1"]+df["Marks2"]+df["Marks3"]

In [3]:
df["Total"]

0    181
1    189
2    196
3    166
4     96
5    116
6    176
7    195
8    214
9    160
Name: Total, dtype: int64

Q3)

In [4]:
df.Marks1.min()

18

Q4)

In [5]:
df.Marks2.max()

99

Q5)

In [6]:
df.Marks3.mean()

50.6

Q6)

In [7]:
df["Average"]=(df["Total"]/3)
df[df["Average"]==df["Average"].max()][['Name','Average']]

  Name    Average
8    i  71.333333

Q7)

In [8]:
df[df["Marks2"]<40][['Marks3']]

   Marks3
1      75
5      38